.trader-table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

.trader-header {
  background-color: #dfdfdf;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  color: black;
  padding-left: 20px;
  position: relative; 
}

.trader-header:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%; 
  height: 50%; 
  width: 1px;
  background-color: rgb(160, 160, 160);
  transform: translateY(-50%); 
}

.trader-cell {
  padding: 2px;
  border-bottom: 1px solid #ddd;
  padding-left: 20px;
}

.trash-icon {
  color: #bdbdbd;
  cursor: pointer;
  transition: color 0.3s ease;
}

.trash-icon:hover {
  color: red;
}

.info-icon {
  margin-left: 5px;
  color: #3A4AA5;
}
