<div class="nav-body">
    <mat-button-toggle-group appearance="legacy" vertical>
      <mat-button-toggle value="dashboard" routerLink="/dashboard" class="dashboard-btn" [checked]="isDashboardRoute">
        <fa-icon [icon]="'address-book'" size="2x" class="icon"></fa-icon>
      </mat-button-toggle>
      <mat-button-toggle value="quotes" routerLink="/quotes" class="quotes-btn" [checked]="isQuotesRoute">
        <fa-icon [icon]="'book'" size="2x" class="icon"></fa-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
</div>